<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>

  <connectionStrings>
    <add name="UNIRecruitmentSoft.Properties.Settings.UNIRecruitmentConnectionString"
      connectionString="Data Source=MAYUR-PC\SQL2008_R2;Initial Catalog=UNIRecruitment;User ID=sa;Password=da"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="password" value="admin" />
    <add key="CvUploadLocation" value="D:\.NET Project\UNI\CVFileTesting" />
    <add key="AdditionalQualification" value="Certificate,ABC,XYZ" />
  </appSettings>
</configuration>